* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #111661;
}

.conteiner-cabecalho {
    display: flex;
    background-color: #0d1038;
    border: outset;
    border-color: #1a1955;
    flex-direction: column;
    width: 232px;
    height: 100px;
    padding: 50px;
    gap: 15px;
}

.filtro {
    color: white;
}

#pesquisarContinente,
#ordenaçao,
.input-pesquisa {
    background-color: #79a7db;
    color: rgb(3, 8, 29);
    font-size: 18px;
}

#root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    display: flex;
    width: 250px;
    height: 150px;
}

h2 {
    width: 300px;
    height: 35px;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3155a1;
    border: outset;
    border-color: #111661;
}


#inicio {
    position: fixed;
    bottom: 35px;
    left: 5px;
    width: 70px;
    height: 70px;
    background-color: #153986;
    border-radius: 100px;
    border: outset;
    border-color: #0a1064;
    opacity: 85%;
    color: white;
}
/*rodape:*/

footer {
    text-align: center;
    background-color: #21299c;
    color: rgb(252, 252, 252);
}

a {
    color: rgb(255, 255, 255);
}